# Set default behavior to automatically normalize line endings
* text=auto

# Force specific line endings for certain file types
*.py text eol=lf
*.md text eol=lf
*.sql text eol=lf
*.toml text eol=lf
*.txt text eol=lf
*.json text eol=lf

# Denote all files that are truly binary and should not be modified
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary